/* STYLE COMMUNS */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 200vh;
    background: #26293d;
    color: #fff;
}

body.open {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* BOUTON BURGER */
#btn-burger {
    width: 4rem;
    height: 3rem;
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 1000;

    background: none;
    border: none;
    cursor: pointer;
    outline: none; /* pour enlever les bordures quand on clique sur le bouton */

    transition: transform .5s ease;
}

#btn-burger.open {
    transform: rotate(360deg);
}

#btn-burger  span {
    position: absolute;
    z-index: 1001;
    left: 0;
    width: 100%;
    height: .3rem;
    background: #f31d58;
    transition: transform 1.5s ease;
}

#btn-burger  span:nth-child(1) {
    top: 0;
}
#btn-burger  span:nth-child(2) {
    top: 1.3rem;
}
#btn-burger  span:nth-child(3) {
    bottom: 0;
}

#btn-burger.open  span:nth-child(1) {
    transform: rotate(-45deg) translateX(-7px);
    width: 60%;
}

#btn-burger.open  span:nth-child(3) {
    transform: rotate(45deg) translateX(-7px);
    width: 60%;
}

/* NAV */
nav {
    width: 30rem;
    height: 100%;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-30rem);
    transition: transform .5s ease;

    display: flex;
    flex-direction: column;
}

nav #logo-container {
    width: 100%;
    height: 25%;
    background: #fff;
    position: relative;
}

#logo-container a {
    display: block;
    width: 25%;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
}

#logo-container a img {
    width: 100%;
}

nav #menu {
    width: 100%;
    height: 75%;
    background: #f31d58;
}

nav #menu a {
    display: block;
    color: #fff;
    font-size: 2.2rem;
    height: 3rem;
    padding: 2rem 0rem 1rem 2.5rem;
}

nav #menu a:hover {
    color: #26293d;
    transition: color .5s ease;
}

nav #menu a .fas,
nav #menu a .fab {
    width: 3rem;
    padding-right: 1rem;
}

nav #menu a .fas:hover,
nav #menu a .fab:hover {
    font-size: 3rem;
}


nav.open {
    transform: translateX(0);
}

/* CONTENU */
main {
    padding: 10rem 5rem 0rem 5rem;
    transition: transform .5s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main.non-visible {
    display: none;
}

main h1 {
    font-size: 5rem;
}

main.open {
    transform: translateX(30rem);
}

main section {
    display: flex;
    justify-content: center;
}

main section p {
    width: 50%;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: justify;
}

/* MASQUE */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 998;
    opacity: 0;
    transition: opacity .5s ease, visibility .5s ease;
    cursor: pointer;
    visibility: hidden;
}

#overlay.open {
    opacity: 1;
    visibility: visible;
}


/* page experiences */

.container-experiences {
    width: 1190px;
    margin-top: 5rem;
    margin-left: 15rem;
    padding: 2rem;
    font-size: 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.container-experiences .experience {
    margin-bottom: 3rem;
}

.container-experiences .experience .date {
    font-style: italic;
    margin-bottom: 3rem;
}

.container-experiences .experience .poste {
    color: #f31d58;
    margin-bottom: 1rem;
}

.container-experiences .client {
    color: #429397;
}




/* page competence */

.container-competence {
    width: 1190px;
    margin-top: 5rem;
    padding: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container-competence .container-img {
    margin: 4rem;
}