/* STYLE COMMUNS */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 200vh;
}

/* BOUTON BURGER */
#btn-burger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 1000;
}

/* NAV */
nav {
    width: 30rem;
    height: 100%;
    background: #26293D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-30rem);
    transition: transform .5s ease;
}

nav.open {
    transform: translateX(0);
}